:root {
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dde0ab;
    padding: 10px;
    box-shadow: var(--box-shadow);
    padding: 1ch 10ch;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo h1 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: bold;
    background-color: #fffbfb;
    padding: 1ch 3ch;
    border-radius: 8px;
}

.nav-links a:hover {
    color: #333;
}


.main {
    margin-top: 10%;
    transition: filter 0ms ease-in-out 0ms;
    position: relative;
}

.main .add-book {
    text-decoration: none;
    color: #000;
    background-color: #dde0ab;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.main .button {
    margin-bottom: 3%;
    margin: 0 auto;
    text-align: center;
}

.main .add-book:hover {
    opacity: 0.7;
    transition: all 200ms ease-in-out;
}

.cards {
    margin: 5%;
}

/* styling for popup */
main .popup {
    position: absolute;
    width: 30%;
    margin: 0 auto;
    transform: translate(-50px, -50px);
    background-color: #dde0ab;
    padding: 6ch 4ch;
    top: -500px;
    margin-left: 32%;
    transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
}

.popup .close-btn {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 23px;
    height: 25px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
}

body.active-popup {
    overflow: hidden;
}

body.active-popup .main {
    filter: blur();
    transition: filter 0ms ease-in-out 0ms;

}

body.active-popup .popup {
    top: 20%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
}



main .popup h3 {
    font-weight: 290px;
    font-size: 40px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin-bottom: 3%;
    text-align: center;
}

main .popup p,
main .popup button {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: large;
    font-weight: 900;
}

main .popup button:hover {
    opacity: 0.7;
    transition: all 200ms ease-in-out;
}

.popup input {
    outline-color: #fafafa;
    width: 100%;
    margin-bottom: 3%;
    padding: 8px 6px;
    border-radius: 8px;
    border: 1px #fafafa;
}





.popup .submit-btn {
    border: none;
    padding: 10px 4px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

/* The cards */


main .cards .remove {
    /* width: 100%; */
    background-color: #dde0ab;
    border: none;
    padding: 5% 4%;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: large;
    font-weight: 900;
    border-radius: 8px;
}

main .cards .remove:hover {
    transform: scale(0.9);
    transition: all 200ms ease;

}


main .cards .read {

    background-color: #d3d3d3;
    border: none;
    padding: 5% 4%;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: large;
    font-weight: 900;
    border-radius: 8px;
    margin-bottom: 3%;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.input-content {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 20%;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-content h2 {
    margin-bottom: 10px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.input-content p {
    margin: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.input-content button {
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 10rem;
    left: 8rem;
    text-align: center;

}

footer p {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}


/* For devices with a screen width of 768px or less (i.e. tablets and mobile devices) */
@media screen and (max-width: 768px) {

    .nav-links.active {
        display: flex;
        /* Show the navigation links when the menu button is clicked */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5rem;
    }

    .cards .input-content {
        width: 90%;
    }

    .popup {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .main .button {
        margin-top: 8rem
    }

    body.active-popup .popup {
        margin-top: 8rem;
        width: 22rem;
    }

    footer {
        right: 5rem;
    }
}

@media screen and (max-width: 1080px) {
    .main .button {
        margin-top: 8rem;
    }

    body.active-popup .popup {
        margin-top: 5rem;
    }
}